name: Deploy Portfolio App

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # This targets the requirements.txt inside your /api folder
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: ./api

      - name: 'Deploy to Azure Functions'
        uses: azure/functions-action@v1
        with:
          app-name: 'cjcicd'
          package: './api' # Crucial: tells Azure the code is in the api subfolder
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
          scm-do-build-during-deployment: true
          enable-oryx-build: true # Required to build the pyodbc drivers on Azure
