name: Deploy Portfolio Backend

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_NAME: 'cjcicd'
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './api' # This tells GitHub where your code lives
  PYTHON_VERSION: '3.11'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: 'Setup Python ${{ env.PYTHON_VERSION }}'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: 'Login to Azure'
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5B9F2C36526B460BA3B829339A4D6D41 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DF14183BE94D420891789FEB5CA6F34A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_58490FB629B2445CA52AE50AC4E43B12 }}

      - name: 'Deploy to Azure Functions'
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          # These two lines are the magic for your new plan:
          scm-do-build-during-deployment: true
          enable-oryx-build: true
